@charset "UTF-8";


body{background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
   


}
h1{
    color: rgb(21, 255, 255);
    padding: 10px;
    
}
h1#principal{
    background-color: rgb(32, 9, 53);
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(131, 131, 131);
    text-indent: 20px;
}
.basico{
    color:rgb(238, 238, 15) ;
}
.avancado{
    color:hotpink ;
}