@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
   
}
body{
    background-color: rgba(128, 128, 128, 0.5);
}
h1{
    text-align: center;
    background-color: rgb(128, 128, 128);
    padding: 20px;
}
menu{
    text-align: center;
    background-color: rgb(104, 103, 103);
}
menu > ul > li > a:hover{
    text-decoration: none;
}
menu > ul > li > a {
    text-decoration: none;
    display: block;
    border: 1px solid , black;
    padding: 10px;

    color: white;
}
main {
   padding: 10px;
    width: 90vw;
   border-radius: 10px;
    margin: auto;
   background-color: rgb(255, 255, 255);
   margin-top: 10px;
   color: rgb(0, 0, 0);
}
h2{
    text-align: center;
    padding: 20px;
}

article>p{
    text-align: justify;
   text-indent: 20px;
}
#burguer{
    text-align: center;
    background-color: rgb(43, 42, 42);
    display: block;
    color: white;
}